span>img{
    height: 10px;
    width: 10px;
    float: left;
}

td>span{
    font-size: 13.5px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none !important;
    color: grey;
}

.ref{
    color: black;
   font-weight: bolder;
   font-size: 12px;
}