div{
    margin: 5px 0 5px 0;
}
.content{
    padding: 20px ;
    border: 1px solid black;
    height: 70px;
}

span{
    float: right;
}

a{
    text-decoration: none !important;
    color: grey;
}

.ref, .ref>a{
   font-size: 12px;
   color: black;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.title>a{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

.bottom{
    font-size: 13px;
}

.bottom, .bottom>span{
    display: flex;
}

.bottom>span>img{
    float: right;
    height: 18px;
}